<% @articles.each do |a| %>
    <a href="#">
    <div class="article">
      <div class="head">
        <div class="title">
        <span><h2>
          <%#= link_to "Hloooo", :controller => "articles", :action => "edit", params["id"] => 1%>
          <%#= link_to "Hloooo", edit_article_path, params[:id] => 1 %>
          <%= a.title.upcase %>
        </h2></span>
          <span><h6>By <%= "hello".upcase%> | <%= "welcom"%> Comments</h6></span>
        </div>

        <div class="rating" align="center">
          <%(1..(a.rating)).each do |q|%>
              <span><i class="fa fa-star"></i></span>
          <%end%>
          <%(1..(5-a.rating)).each do |q|%>
              <span><i class="fa fa-star-o"></i></span>
          <%end%>
        </div>

      </div>
      <div class="content">
        <p><%= a.description%></p>
      </div>
    </div>
    </a>

<% end %>