<img src="images/loading.gif">
<ul class="nav nav-tabs nav-justified tab-header">
  <li class="active"><a data-url="categories" data-toggle="tab"><span>CATEGORIES</span></a></li>
  <li><a data-url="sub-categories" data-toggle="tab"><span>SUB CATEGORIES</span></a></li>
  <li><a data-url="tags" data-toggle="tab"><span>TAGS</span></a></li>
  <li><a data-url="articles" data-toggle="tab"><span>ARTICLES</span></a></li>
</ul>
<div class="tab-content col-md-12 col-sm-12 col-xs-12 no-padding loader">
  <% ["categories", "sub-categories", "tags", "articles"].each do |div_id| %>
      <div id="<%=div_id%>" class="tab-pane fade in">
        <div class="index" align="center">
          <% TOP_DIVS.each do |a| %>
              <a href="javascript:void(0)" id="<%=a%>">
                <div class="article">
                  <div class="head">
                    <div class="title">
                      <h3></h3>
                      <h6></h6>
                    </div>
                    <div class="count">
                      <span>*</span>
                      <p><%= ELEMENT_MAPPING[div_id] %></p>
                    </div>
                  </div>
                </div>
              </a>
          <% end %>
        </div>
      </div>
  <% end %>

  <!--<div id="articles" class="tab-pane fade in">
      <div class="index" align="center">
        <%# @articles.each do |a| %>
            <a href="/<%#= a.id %>">
              <div class="article">
                <div class="head">
                  <div class="title">
                    <h3>
                      <%#= a.title.upcase %>
                    </h3>
                    <h6 class="hr_line">By <%#= "hello".upcase%> | <%#= "welcom"%> Comments</h6>
                  </div>

                  <div class="rating" align="center">
                    <%#(1..(a.rating)).each do |q|%>
                        <span><i class="fa fa-star"></i></span>
                    <%#end%>
                    <%#(1..(5-a.rating)).each do |q|%>
                        <span><i class="fa fa-star-o"></i></span>
                    <%#end%>
                  </div>

                </div>
                <div class="content">
                  <p><%#=raw a.content%></p>
                </div>
              </div>
            </a>

        <%# end %>
      </div>
    </div>-->

</div>