<div class="heading">
  <span><%= @page_properties[:header] %></span>
</div>

<div class="top-categories">
  <h3>Top Categories</h3>
  <%= render :partial => 'categories/categories_block' %>
</div>

<div class="top-sub-categories">
  <h3>Top Sub Categories</h3>
  <%= render :partial => 'sub_categories/sub_categories_block' %>
</div>

<div class="top-articles">
  <h3>Top Articles</h3>
  <%= render :partial => 'articles/articles_block' %>
</div>
