<div class="heading">
  <span><%= @page_properties[:header] %></span>
</div>

<div class="toppers">
  <h3>Show Toppers</h3>
  <%#= render :partial => 'categories/categories_block' %>
  <%= render :partial => 'home/show_topers' %>
</div>

<div class="favourites">
  <h3>My Favourites</h3>
  <%#= render :partial => 'sub_categories/sub_categories_block' %>
  <%= render :partial => 'home/favourite' %>
</div>

<div class="search">
  <h3>Search</h3>
  <%#= render :partial => 'articles/articles_block' %>
  <%= render :partial => 'home/search' %>
</div>
