<div class="wrapper">
  <div class="heading">
    <h3><%= @page_properties[:header]%></h3>
    <%= custom_button_1("New Tag", new_tag_path, "right") %>
  </div>

  <% @breadcrumb ={:Home => root_path, :Tag => "#"} %>
  <%= render :partial => 'layouts/bread_crumb' %>

  <%= render :partial => 'tags/tags_block' %>
</div>