<div class="wrapper">
  <div class="heading">
    <h3><%= @page_properties[:header]%></h3>
    <%= custom_button_1("New Category", new_category_path, "right") %>
  </div>

  <% @breadcrumb ={:Home => "/", :Category => "#"}%>
  <%= render :partial => 'layouts/bread_crumb' %>

  <%= render :partial => 'categories/categories_block' %>
</div>