<div class="heading">
  <span><%= @page_properties[:header]%></span>
    <a href="<%= '/categories/new' %>" class="button">
      <span>New Category</span>
    </a>
</div>

<% @breadcrumb ={:Home => "/", :Category => "#"}%>
<%= render :partial => 'layouts/bread_crumb' %>

<%= render :partial => 'categories/categories_block' %>

