<div class="breadcrumbheader">
  <ul class="breadcrumbs">
     <% @breadcrumb.each do |key,val| %>
        <% if val!="#" %>
            <li><a href="<%= val %>"><%= key.to_s.gsub('_',' ').titlecase %></a></li>
        <% else %>
            <li><span><%= key.to_s.gsub('_',' ').titlecase %></span></li>
        <% end %>
     <% end %>
  </ul>
</div>
